<?xml version="1.0"?>
<launch>

	<!-- ================================ LEADER ================================ -->
	<arg name="cf_leader_name" value="demo_crazyflie10" />
	<!-- initial reference -->
	<arg name="cf_1_x" value="0  " /> 
	<arg name="cf_1_y" value="4  " />
	<arg name="cf_1_z" value="0.5" />
	<param name="cf_leader_traj" value="$(find drone_path_planning)/resources/trajectories/Pol_matrix_1_90_deg.csv" />
	<!-- ================================ /LEADER ================================ -->

	<!-- =============================== FOLLOWER =============================== -->
	<arg name="cf_follower_name" value="demo_crazyflie9" />
	<!-- initial reference -->
  	<arg name="cf_2_x" value="-1" />
	<arg name="cf_2_y" value=" 4" />
	<arg name="cf_2_z" value=" 0.5" />
	<param name="cf_follower_traj" value="$(find drone_path_planning)/resources/trajectories/Pol_matrix_2_90_deg.csv" />
	<!-- =============================== /FOLLOWER =============================== -->
	

	<!-- Initialize global parameters -->
	<param name="cf_leader_name" type="string" value="$(arg cf_leader_name)" />
	<param name="cf_follower_name" type="string" value="$(arg cf_follower_name)" />

	<param name="cf_leader_x" type="double" value="$(arg cf_1_x)" />
	<param name="cf_leader_y" type="double" value="$(arg cf_1_y)" />
	<param name="cf_leader_z" type="double" value="$(arg cf_1_z)" />
	
	<param name="cf_follower_x" type="double" value="$(arg cf_2_x)" />
	<param name="cf_follower_y" type="double" value="$(arg cf_2_y)" />
	<param name="cf_follower_z" type="double" value="$(arg cf_2_z)" />
		
</launch>
