<?xml version="1.0"?>
<launch>

    <group ns="planning" >
		<rosparam command="load" file="$(find drones_rope_planning)/config/prob_definitiion.yaml" />
	</group>
    
    <group ns="obstacles" >
		<rosparam command="load" file="$(find drones_rope_planning)/config/cylinders_obstacles.yaml" />
	</group>

    <node pkg="drones_rope_planning" name="drones_rope_planning_node" type="planning_offline_node" output="screen" />
    
</launch>
