<?xml version="1.0"?>
<launch>
    <group ns="planning">
        <rosparam command="load" file="$(find drone_path_planning)/config/prob_definitiion.yaml" />
    </group>
    
    <node pkg="drones_rope_planning" name="drones_rope_planning_node" type="drones_rope_planning_node" output="screen" />
    
</launch>
