<?xml version="1.0"?>
<launch>
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find drones_rope_planning)/launch/test.rviz" output="log"/>

    <include file="$(find drone_path_planning)/launch/dronesVisual.launch">
	  <!-- all vars that included.launch requires must be set -->
	  <!-- <arg name="hoge" value="fuga" /> -->
	</include>

	<node name="path_vis" pkg="drones_rope_planning" type="path_vis.py" output="screen"/>

</launch>
